// sidebar
// $menuText:#bfcbd9;
// $menuActiveText:#409EFF;
// $subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuText:#7f7f7f;
$menuActiveText:#1eddb2;
// $subMenuActiveText:#1ab994; 
$subMenuActiveText: #38ceb1;

// $menuBg:#304156;
// $menuHover:#263445;
$menuBg: #FFF;
$menuHover: #dddddd;

// $subMenuBg:#1f2d3d;
// $subMenuHover:#001528;
$subMenuBg: #efefef;
$subMenuHover: #dddddd;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
